* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    180deg,
    #277da1,
    #277da1,
    #577590,
    #4d908e,
    #43aa8b,
    #90be6d,
    #f48c06,
    #e85d04,
    #dc2f02,
    #6a040f
  );
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}

p {
  -webkit-text-stroke-width: 0.5px;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: 5px solid #fff;
  background: #fff;
}

form input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

form button {
  padding: 0.6rem 0.5rem 0.7rem;
  color: #277da1;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

form button:hover {
  color: #fff;
  background: #dc2f02;
  border: 5px solid #dc2f02;
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list {
  min-width: 30%;
  list-style: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
}

.task {
  border-radius: 1rem;
  text-align: center;
}

.task li {
  flex: 1; /* pushes the complete-btn to the right, next to delete. */
}

.task-item {
  padding: 0rem 0.5rem;
}

.delete-btn,
.complete-btn {
  background: #fff;
  color: #43aa8b;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.delete-btn {
  color: #dc2f02;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.delete-btn:hover {
  background: #dc2f02;
  color: #fff;
}

.complete-btn:hover {
  background: #43aa8b;
  color: #fff;
}

/* prevents clicking on icon */
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.85;
  color: #43aa8b;
}
